.btn-down {
  border-radius: 50px;
  padding: 0;
  margin: 0;
  border: none;
  z-index: 10;
  margin-right: 5px; /*userinput-sec */
}
/* .scroll-to-bottom-btn {
  position: fixed;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 10;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
