/* Define the typewriter effect */
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.5s steps(10) 1, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* .question {
  background-color: #e3e3e3;
  border-radius: 8px !important;
  align-items: center !important;
  text-align: left !important;
  padding: 0;
  margin-bottom: 6px !important;
}
.question p {
  margin-bottom: 0 !important;
  margin-inline: 10px !important;
} */
