.chat-container {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: 0;
  scrollbar-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.botUser {
  background-color: #f3eeeea6;
  border-radius: 10px;
}

.PhotoView-Slider__Backdrop {
  background: #2125297d !important;
}
.PhotoView-Slider__BannerWrap {
  background: transparent !important;
}
