.header-bg {
  display: flex;
  background-image: url("../src/assets/images/Banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
  width: 100%;
  height: 10vh;
  align-items: center;
}
.header-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-shadow: 5px 2px 2px rgb(244, 249, 250);
  color: rgba(88, 51, 16, 0.774);
  font-weight: bolder !important;
  text-align: center;
  align-items: center;
  margin: auto;
}

.menu-icon {
  font-size: 25px; /* Adjust as needed */
}

/* Mobile devices: from 320px to 767px */
@media screen and (max-width: 767px) {
  .heading {
    font-size: 1em !important;
  }
  .response-area {
    font-size: 1em !important;
  }
}

/* Tablet devices: from 768px to 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 1.2em !important;
  }
  .response-area {
    font-size: 1.2em !important;
  }
}

/* Laptop devices: from 1025px upwards */
@media screen and (min-width: 1025px) {
  .heading {
    font-size: 1.5em !important;
  }
  .response-area {
    font-size: 1.25em !important;
  }
}

/* Larger screens (Desktops): for widths larger than 1200px */
@media screen and (min-width: 1200px) {
  .heading {
    font-size: 2em !important;
  }
  .response-area {
    font-size: 1.25em !important;
  }
}
