html {
  scroll-behavior: smooth !important;
}
body {
  font-family: 'Poppins', sans-serif !important;
  color: rgb(90, 88, 88) !important;
}

/* Mobile devices: from 320px to 767px */
@media screen and (max-width: 767px) {
  .heading {
    font-size: 1em !important;
  }
  .response-area {
    font-size: 1em !important;
  }
}

/* Tablet devices: from 768px to 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 1.2em !important;
  }
  .response-area {
    font-size: 1.2em !important;
  }
}

/* Laptop devices: from 1025px upwards */
@media screen and (min-width: 1025px) {
  .heading {
    font-size: 1.5em !important;
  }
  .response-area {
    font-size: 1.25em !important;
  }
}

/* Larger screens (Desktops): for widths larger than 1200px */
@media screen and (min-width: 1200px) {
  .heading {
    font-size: 2em !important;
  }
  .response-area {
    font-size: 1.25em !important;
  }
}

/* Font Styles */
.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}
